@import "tailwindcss";

@theme {
  --font-serif: var(--font-bellefair);
  --font-sans: var(--font-lora);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Configure dark variant to use class strategy for next-themes */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-serif: var(--font-bellefair);
  --font-body: var(--font-lora);
  color-scheme: light;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

html {
  transition: color-scheme 0.5s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lora), serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bellefair), serif !important;
}
